<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
</head>
<body>
<form th:action="@{/action/register}" method="POST">
    <div><label>Name: <input type="text" name="username"/></label></div>
    <div><label>Email: <input type="email" name="email"/></label></div>
    <div><label>Password: <input type="password" name="password"/></label></div>
    <div><input type="submit" value="Register"/></div>
</form>
</body>
</html>